---
const { title, description, keywords, url, image } = Astro.props;
import "../styles/global.scss";
import "../styles/hamburgers.scss"
import Navbar from "../components/Navbar.astro";
---



<html>
    <head>
       

        <script is:inline src="https://apis.google.com/js/api.js"></script>
        
        <script
            is:inline
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        ></script>
      
    </head>

    <Navbar />
    <body class="">
        <div class="min-h-screen w-full">
            <slot />
        </div>
    
        
    </body>
</html>
